---
import CompatibilityList from "~/components/technology-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

// const frameworks: Array<CompatibilityItem> = [
//   {
//     title: "React",
//     icon: "frameworks/react",
//     url: "https://reactjs.org/",
//   },
//   {
//     title: "Preact",
//     icon: "frameworks/preact",
//     url: "https://preactjs.com/",
//   },
//   {
//     title: "Svelte",
//     icon: "frameworks/svelte",
//     url: "https://svelte.dev/",
//   },
//   {
//     title: "Vue",
//     icon: "frameworks/vue",
//     url: "https://vuejs.org/",
//   },
//   {
//     title: "Solid",
//     icon: "frameworks/solid",
//     url: "https://www.solidjs.com/",
//   },
//   {
//     title: "Lit",
//     icon: "frameworks/lit",
//     url: "https://lit.dev/",
//   },
// ];

const platforms: Array<CompatibilityItem> = [
  {
    title: "mailcow",
    icon: "platforms/mailcow",
    url: "https://mailcow.email/",
  },
  {
    title: "WordPress",
    icon: "fa-brands:wordpress",
    url: "https://wordpress.org/",
  },
  {
    title: "Docker",
    icon: "fa-brands:docker",
    url: "https://www.docker.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://www.cloudflare.com/",
  },
  {
    title: "Hetzner",
    icon: "platforms/hetzner",
    url: "https://www.hetzner.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://github.com/",
  },
];
---

<ContentSection title="Technologien" id="technology">
  <Fragment slot="lead">
    Wir bieten ein <span class="text-primary">breites Spektrum</span> an{" "}
    <span class="text-primary">state-of-the-art</span> Technologien
  </Fragment>
  <!-- <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  /> -->
  <CompatibilityList
    items={platforms}
    title="Technologien & Plattformen"
    url="https://github.com/fehart20/"
  />
</ContentSection>
